.error{
    background-color: rgba(255,0,0,0.6);
}
.success{
    background-color: rgba(10,255,10,0.6);
}
.info{
        background-color: rgba(0,150,255,0.6);
}
.message-text{
    display: none;
    padding: 5px 20px;
    color: black;
    border-radius: 10px;
}
#message-text{
    padding: 5px 20px;
    color: black;
    border-radius: 20px;
}
.message-box{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin: auto;
    
    min-width: 35%;
    max-width:  55%;
    text-align: center;
}
.edit-container{
    font-size: 16pt;
}
.font-size-19{
    font-size: 18pt;
}
.map_canvas{
    height: 350px;
    width: 100%;
}